{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('page') }}
{% endblock %}

{% block body %}
<div id="app-page" data-url="{{ dataUrl }}">
    <page></page>
</div>
{% endblock %}
