{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
<div>
    <div id="app-home">
        <home></home>
    </div>
</div>
{% endblock %}
