{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{{ vite_entry_script_tags('home') }}
{% endblock %}

{% block body %}
<div id="app-home">
    <home></home>
</div>
{% endblock %}
