{% extends 'base.html.twig' %}

{% block title %}
    Cookie Consent
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        label, button {
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="pt-5 pb-5">
            <form id="cookie-consent-form">
                <label>Full Name</label>
                <input type="text" name="your-name" required/>
                <br>
                <br>
                <label>Email</label>
                <input type="email" name="your-email" required/>
                <br>
                <br>
                <label>Message</label>
                <textarea name="your-message" required></textarea>
                <br>
                <br>
                <input type="checkbox" name="generic" required/> <label>I've read the <a
                    href="#">Privacy Policy</a> and
                accept the <a href="#">Terms and Conditions</a></label>
                <br>
                <input type="checkbox" name="newsletter" required/> <label>Send me information about products, services,
                deals or recommendations by email (optional)</label>
                <br>
                <br>
                <button type="submit" id="btn_submit_cookie_consent" >Send</button>
            </form>
        </div>
    </div>
{% endblock %}