{% extends 'base.html.twig' %}

{% block title %}
    Privacy Policy
{% endblock %}

{% block body %}
    <style>
        .text-red-600, .text-xl, strong {
            color: #e11616;
        }

        li::marker {
            color: #e11616;
            font-size: 20px;
        }
        li .text-heading {
            font-size: 20px;
        }

        p, .list-inside {
            color: #6441A5;
        }
        table, .custom-accordion {
            color: #6441A5;
            border-color: #6441A5;
        }
        table th{
           text-align: left;
        }
        li{
            margin-bottom: 10px;
        }
        table li{
            margin-bottom: 0px;
        }
        li p {
            margin-left: 20px;
        }

        .list-subpoint {
            margin-left: 20px;
        }

        td,th {
            border: solid 2px #6441A5;
            padding: 2px;
        }

        .pl-5 {
            padding-left: 1.50rem;
        }

        .iubenda-section{
            padding-top: 1.25rem;
        }
        
        .iubenda-section h2{
            margin-left:20px;
            font-weight: 600;
        }
    </style>

    <div class="container w-full mx-auto px-6 space-y-6">
        <div class="mt-6">
            <p>We at CHATalk respect your privacy and are committed to protecting it.  This Privacy Policy explains what information we collect about you, and how we use, disclose, transfer, store, and protect that information.  It also explains your legal rights and remedies.</p>
            <p class="pt-5">This Privacy Policy is effective as of July 20, 2023.</p>
            <h3 class="text-xl pt-5">Definitions</h3>
            <div class="flex flex-wrap justify-start overflow-hidden bg-slate-900">
                <div class="custom-accordion">
                <label class="grow px-4 py-3 font-medium" for="collapse">“CHATalk,” “we,” “us,” and “our” </label>
                <input class="peer mx-4 my-3 h-0 w-0 appearance-none rounded border text-slate-800 accent-slate-600 opacity-0" type="checkbox" name="collapse" id="collapse" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-4 my-3 h-6 w-6 transition-all duration-200 peer-checked:rotate-45">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <div class="-transparent absolute -translate-y-full scale-75 scale-y-0 px-4 py-3 opacity-0 transition-all duration-200 peer-checked:relative peer-checked:translate-y-0 peer-checked:scale-100 peer-checked:scale-y-100 peer-checked:bg-slate-800 peer-checked:opacity-100">
                    CHATalk, LLC
                </div>
                </div>
            </div>
            <div class="flex flex-wrap justify-start overflow-hidden bg-slate-900 text-white">
                <div class="custom-accordion">
                <label class="grow px-4 py-3 font-medium" for="collapse1">“Our Sites”</label>
                <input class="peer mx-4 my-3 h-0 w-0 appearance-none rounded border text-slate-800 accent-slate-600 opacity-0" type="checkbox" name="collapse" id="collapse1" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-4 my-3 h-6 w-6 transition-all duration-200 peer-checked:rotate-45">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <div class="-transparent absolute -translate-y-full scale-75 scale-y-0 px-4 py-3 opacity-0 transition-all duration-200 peer-checked:relative peer-checked:translate-y-0 peer-checked:scale-100 peer-checked:scale-y-100 peer-checked:bg-slate-800 peer-checked:opacity-100">
                    <span>CHATalk’s websites, which include:</span>
                        <ul class="list-disc list-inside pl-4 list-subpoint">
                            <li><a href="https://www.gamersx.tv">Gamersx.TV</a></li>
                            <li><a href="https://www.gamersx.store">Gamersx.Store</a></li>
                            <li><a href="https://www.gamersx.gg">Gamersx.GG</a></li>
                            <li><a href="https://gamersxchange.com">Gamersxchange.com</a></li>
                            <li><a href="http://www.chatalk.co">Chatalk.co</a></li>
                        </ul>
                </div>
                </div>
            </div>
            <div class="flex flex-wrap justify-start overflow-hidden bg-slate-900">
                <div class="custom-accordion">
                <label class="grow px-4 py-3 font-medium" for="collapse2">“You” and “your”</label>
                <input class="peer mx-4 my-3 h-0 w-0 appearance-none rounded border text-slate-800 accent-slate-600 opacity-0" type="checkbox" name="collapse2" id="collapse2" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-4 my-3 h-6 w-6 transition-all duration-200 peer-checked:rotate-45">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <div class="-transparent absolute -translate-y-full scale-75 scale-y-0 px-4 py-3 opacity-0 transition-all duration-200 peer-checked:relative peer-checked:translate-y-0 peer-checked:scale-100 peer-checked:scale-y-100 peer-checked:bg-slate-800 peer-checked:opacity-100">
                    You, the user, whether you are using our Services on behalf of yourself or someone else.
                </div>
                </div>
            </div>
            <div class="flex flex-wrap justify-start overflow-hidden bg-slate-900">
                <div class="custom-accordion">
                <label class="grow px-4 py-3 font-medium" for="collapse3">"Personal Information" </label>
                <input class="peer mx-4 my-3 h-0 w-0 appearance-none rounded border text-slate-800 accent-slate-600 opacity-0" type="checkbox" name="collapse3" id="collapse3" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-4 my-3 h-6 w-6 transition-all duration-200 peer-checked:rotate-45">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <div class="-transparent absolute -translate-y-full scale-75 scale-y-0 px-4 py-3 opacity-0 transition-all duration-200 peer-checked:relative peer-checked:translate-y-0 peer-checked:scale-100 peer-checked:scale-y-100 peer-checked:bg-slate-800 peer-checked:opacity-100">
                    <span>Information you provide us or information we collect that could be used to personally identify you.  This can include:</span>
                        <br>
                        <span>(a) your real name, address, phone number, email address, password, identification number on government-issued ID, IP address, user-agent information, payment account number;</span>
                        <br>
                        <span>(b) when associated with one of the items in subsection (a), any sensitive data such as date of birth, gender, sexual orientation, racial or ethnic origins, marital or familial status, medical conditions or disabilities, political affiliation, or religion.</span>
                </div>
                </div>
            </div>
            <div class="flex flex-wrap justify-start overflow-hidden bg-slate-900">
                <div class="custom-accordion">
                <label class="grow px-4 py-3 font-medium" for="collapse4">“Third Party/ies” </label>
                <input class="peer mx-4 my-3 h-0 w-0 appearance-none rounded border text-slate-800 accent-slate-600 opacity-0" type="checkbox" name="collapse4" id="collapse4" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-4 my-3 h-6 w-6 transition-all duration-200 peer-checked:rotate-45">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                <div class="-transparent absolute -translate-y-full scale-75 scale-y-0 px-4 py-3 opacity-0 transition-all duration-200 peer-checked:relative peer-checked:translate-y-0 peer-checked:scale-100 peer-checked:scale-y-100 peer-checked:bg-slate-800 peer-checked:opacity-100">
                     	Individuals, entities, websites, services, products, and applications that are not controlled, managed, or operated by CHATalk. 
                </div>
                </div>
            </div>
            <ol class="list-decimal list-inside pt-5">
                <li>
                    <span class="text-heading">WHAT THIS PRIVACY POLICY DOES AND DOES NOT COVER</span>
                    <p class="pt-5">This Privacy Policy <b>does</b> cover how we collect, use, and store your information when you interact with any of Our Sites</p>
                    <p class="pt-5">This Privacy Policy <b>does not</b> cover Third-Party sites or services.  If Our Sites contain links to Third-Party sites or services, please be aware that those sites and services have their own privacy policies. After following a link to any third-party content, you should read their posted privacy policy information about how they collect and use personal information.</p>
                </li>
                <li>
                    <span class="text-heading">HOW WE COLLECT AND USE INFORMATION</span>
                    <p class="pt-5">We collect the following types of information about you if you choose to interact with Our Sites:</p>
                    <ul class="list-disc list-inside pl-4 list-subpoint pt-5">
                        <li><b>Standard Web Browser Data:</b> When you visit Our Sites, our servers may automatically log the standard data provided by your web browser. This may include your device’s Internet Protocol (IP) address, your browser type and version, the pages you visit, the links you click, the time and date of your visit, the time spent on each page, and other details about your visit.</li>
                        <li><b>Error Information:</b> If you encounter certain errors while using Our Sites, even if you are not aware of the error, we may automatically collect data about the error and the circumstances surrounding it. This may include technical details about your device, what you were trying to do when the error happened, and other technical information relating to the problem.</li>
                        <li><b>Device Data:</b> When you visit Our Sites, we may automatically collect data about your device, such as the type of your device, its operating system, unique device identifiers, device settings, and geo-location data.  Data we collect can depend on the individual settings of your device and software. We recommend checking the policies of your device manufacturer or software provider to learn what information they make available to us.</li>
                        <li><b>Personal Information:</b> You may choose to provide us with Personal Information when you interact with Our Sites, such as when you subscribe to our newsletter or contact us.  We only collect and use your Personal Information when we have a legitimate reason for doing so.</li>
                        <li><b>Purchase Information:</b> We collect information about purchases or other transactions you make, such as through gamersx.store, including credit card information.</li>
                        <li><b>Cookies:</b> If you choose to accept cookies on Our Sites, we may collect transaction records, stored files, user profiles, analytics data, and other metrics, as well as other types of information that is created or generated as you interact with Our Sites.</li>
                    </ul>
                </li>
                <li>
                    <span class="text-heading">SHARING OF YOUR INFORMATION</span>
                    <p class="pt-5">Unless this Privacy Policy says otherwise, please assume that content you actively contribute to Our Sites is publicly available and can be found by search engines. All user-generated content is associated with the account or email address used to submit the materials.</p>
                    <p class="pt-5"><b>Analytics:</b> We use Third-Party analytics services in connection with Our Sites. These service providers use tracking technologies, including cookies, to analyze how you interact with Our Sites. The information collected may be shared with or collected directly by these service providers.</p>
                    <!--Dynamic data from iUbenda-->
                    <div class="iubenda-section">
                        <h2>Privacy Policy -&gt; Clauses &amp; Services (Data Processing Detailed Info)</h2>
                        <p><a href="https://www.iubenda.com/privacy-policy/49149225/section/data-processing-detailed-info" class="iubenda-nostyle iubenda-noiframe iubenda-embed iub-legal-only iubenda-noiframe iub-body-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></p>
                    </div>
                    <p class="pt-5"><b>Advertising:</b> We also work with Third-Party service providers to help determine what promotional content is most relevant and appropriate to you and your interests. These service providers may use cookies to deliver targeted advertising or limit the number of times you see an advertisement. This helps companies improve the effectiveness of their campaigns and the quality of content presented to you. These cookies may be used to track you on other websites that use the same third-party service.  This Privacy Policy does not apply to, and we cannot control the tracking technologies and activities of, Third-Party service providers.  Please review their separate privacy policies.</p>
                    <p class="pt-5"><b>Business Operations:</b>  We may work with business partners and vendors who perform services on our behalf, such as payment processing, accounting, managerial, technical, or marketing services.  We may share information with them solely as necessary to provide services or features to our users.</p>
                    <!--Dynamic data from iUbenda-->
                    <div class="iubenda-section">
                        <h2>Cookie Policy -&gt; Clauses &amp; Services (Other Types of Cookies)</h2>
                        <p><a href="https://www.iubenda.com/privacy-policy/49149225/cookie-policy/section/other-types-cookies" class="iubenda-nostyle iubenda-noiframe iubenda-embed iub-legal-only iubenda-noiframe iub-body-embed" title="Cookie Policy">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></p>
                    </div>
                    <p class="pt-5"><b>Sale or Merger:</b> If we sell our company or any of its assets, or if we enter into a merger or similar business transaction, we reserve the right to share, transfer, and assign the information we have collected from users as part of that transaction.  We also reserve the right to share user information before such a transaction as part of the due diligence process.</p>
                    <p class="pt-5"><b>Legal Requirements:</b> We may disclose personal information to third parties (including law enforcement, other government entity, or civil litigant; excluding our subcontractors) when required to do so by law or subpoena or if in our sole discretion, we determine it is necessary to
                        <ul class="list-inside pl-5 list-subpoint pt-5">
                            <li>(a) conform to the law, comply with legal process, or investigate, prevent, or take action regarding suspected or actual illegal activities;</li>
                            <li>(b) to enforce our Terms of Service, take precautions against liability, to investigate and defend ourselves against any claims or allegations, or to protect the security or integrity of our site; and/or</li>
                            <li>(c) to exercise or protect the rights, property, or personal safety of our users or others.  CHATalk is a U.S.-based organization, and we store your personal information in the United States, which may be outside your jurisdiction of residence. Our partners and service providers may also store your personal information outside your jurisdiction of residence. Accordingly, your personal information will be accessible to law enforcement and/or regulatory authorities according to the applicable laws of such jurisdictions.</li>
                        </ul>
                    </p>
                </li>
                <li>
                    <span class="text-heading">HOW WE PROTECT YOUR INFORMATION</span>
                    <p class="pt-5">We care about the security of your information and use commercially reasonable physical, administrative, and technological safeguards to preserve the integrity and security of all information we collect and that we share with our service providers. However, no security system is impenetrable, and we cannot guarantee the security of our systems. If any information under our control is compromised because of a breach of security, we will take reasonable steps to investigate the situation and, where appropriate, notify those individuals whose information may have been compromised, and take other steps in accordance with any applicable laws and regulations.</p>
                    <p class="pt-5">You are responsible for selecting any password and ensuring any passwords associated with accessing your information and accounts are secure and confidential.</p>
                </li>
                <li>
                    <span class="text-heading">YOUR CHOICES ABOUT YOUR INFORMATION</span>
                    <!--Dynamic data from iUbenda-->
                    <div class="iubenda-section">
                        <h2>Cookie Policy -&gt; Technical Cookies</h2>
                        <p><a href="https://www.iubenda.com/privacy-policy/49149225/cookie-policy/section/technical-cookies" class="iubenda-nostyle iubenda-noiframe iubenda-embed iub-legal-only iubenda-noiframe iub-body-embed" title="Cookie Policy">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></p>
                    </div>
                    <p class="pt-5"><b>Cookies and Pixels:</b> If you prefer not to accept cookies, most browsers will allow you to:
                        <ul class="list-inside pl-5 list-subpoint pt-5">
                            <li>(i) change your browser settings to notify you when you receive a cookie, which lets you choose whether or not to accept it;</li>
                            <li>(ii) disable existing cookies; or</li>
                            <li>(iii) set your browser to automatically reject cookies. Please note that doing so may negatively impact your experience using Our Sites, as some features and services on Our Sites may not work properly. Depending on your device and operating system, you may not be able to delete or block all cookies. These browser settings that block cookies may have no effect on non-cookie technologies. You may also set your email options to prevent the automatic downloading of images that may contain technologies that would allow us to know whether you have accessed our email and performed certain functions with it.</li>
                        </ul>
                    </p>
                    <p class="pt-5"><b>Do Not Track (DNT):</b> Some web browsers offer DNT preference options.  Our Sites do not recognize or respond to browser-initiated DNT signals.</p>
                    <p class="pt-5"><b>Modifying Your Account Information and Settings:</b> You may modify your account information, update your personal information, or change your password at any time by logging in to your account. If you have any questions about reviewing or modifying your account information, you can contact us directly at privacy@gamersx.gg.</p>
                    <p class="pt-5"><b>Close Your Account or Delete Personal Information:</b> We retain your information for as long as your account is active or as reasonably necessary to maintain the Service, meet legal and accounting obligations, and for the other purposes described in this Privacy Policy. If you wish to close your account, and/or request to delete your personal information, please contact us at privacy@gamersx.gg. When account information is deleted or de-identified, certain residual information may remain within our archive records, such as for customer and technical support, billing, and tax purposes.</p>
                    <p class="pt-5"><b>Emails and Notifications:</b> You can stop receiving promotional email communications from us by clicking on the “unsubscribe” link provided in such communications. You may not opt-out of Service-related emails (e.g., account verification, order confirmations, change or updates to features of the Service, technical and security notices). You may also unsubscribe from receiving SMS text messages by replying “STOP” to the number sending the message. We make every effort to promptly process all unsubscribe requests.</p>
                    <p class="pt-5"><b>Third Party Tracking and Online Advertising:</b> We may share information about your use of our Services over time, including location information, with third party ad networks, social media companies and other third parties so that they may play or display ads that may be relevant to your interests on our Service as well as on other websites, apps or services, or on other devices or advertising channels. We may also display targeted advertising to you through social media platforms, such as Facebook, Twitter, Google+ and others. These third party ad partners collect and use information such as click stream information, timestamp, hashed email address, device ID or AdID, your use of third party applications and/or precise geolocation data and other information, and may combine this information with information they collect directly through tracking technologies or that they receive other partners, both online and offline, so that they may recognize you across other browsers or devices you use, including computers, mobile devices and Smart TVs. These third parties use this information to make the advertisements you see online more relevant to your interests, as well as to provide advertising-related services such as reporting, attribution, analytics, and market research.</p>
                </li>
                <li>
                    <span class="text-heading">CHILDREN'S PRIVACY POLICY</span>
                    <p class="pt-5">CHATalk takes special precautions to protect the privacy of our younger users. CHATalk does not knowingly collect personal information from children under the age of 13 (a “child”). The Service is not intended to be used by children under the age of 13.</p>
                    <p class="pt-5">If CHATalk learns that we have inadvertently collected personal information of a child without parental consent, we will take appropriate steps to delete this information. If you are a parent or guardian and discover that your child under the age of 13 has a registered account with our Service without your consent, please alert us immediately by emailing privacy@gamersx.gg so that we may delete that child’s personal information from our systems.</p>
                </li>
                <li>
                    <span class="text-heading">YOUR CALIFORNIA PRIVACY RIGHTS</span>
                    <p class="pt-5">This section applies to you if you are a resident of the state of California (a “consumer”). California law requires us to disclose certain information regarding the categories of personal information we collect. For purposes of this section, Personal Information does not include information that is publicly available, that is deidentified or aggregated such that it is not capable of being associated with an identifiable consumer or device.</p>
                    <p class="pt-5">We collect Personal Information from and about you for a variety of purposes explained in this Privacy Policy.</p>
                    <p class="pt-5">We will collect data from the following categories of personal information:</p>
                    <ul class="list-disc list-inside pl-5 list-subpoint">
                        <li>Identifiers, such as your name, address, phone number, email address, unique device identifiers or other similar identifiers.</li>
                        <li>California customer records, such as age.</li>
                        <li>Commercial information, such as records of services purchased, obtained, or considered.</li>
                        <li>Internet/Network information, such as device information, logs, and analytics data.</li>
                        <li>Geolocation data, such as precise location data from your mobile device (e.g., GPS coordinates) or generated based on your IP address.</li>
                        <li>Inferences about your interests and preferences, generated from your use of our services.</li>
                    </ul>
                    <p class="pt-5">We collect this information directly from you, from our business partners, from your browser or device when you visit our websites, and from third parties that you permit to share information with us.</p>
                    <p class="pt-5"><b>Disclosure of Personal Information:</b> We share personal information with third parties for business purposes or we may sell your personal information to third parties, subject to your right to opt out of those sales (see Your Rights and Choices below). The categories of third parties to whom we disclose your personal information may include:
                        <ul class="list-inside pl-5 list-subpoint pt-5">
                        <li>(i) other users with whom you elect to share such information;</li>
                        <li>(ii) our service providers and advisors,</li>
                        <li>(iii) third-party businesses that provide features or services you may use in connection with our Service;</li>
                        <li>(iv) marketing and strategic partners;</li>
                        <li>(iv) ad networks and advertising partners;</li>
                        <li>(v) analytics providers; and</li>
                        <li>(vi) social networks. To learn more about how we disclose personal information to third parties, please refer to Section 2 of this Privacy Policy.</li>
                        </ul>
                    </p>
                    <p class="pt-5">We may disclose the following categories of personal information to third parties for a business purpose: Identifiers, California customer records, Commercial information, Internet/Network information, Geolocation data, Inferences, and Other personal information.</p>
                    <p class="pt-5"><b>Your Rights and Choices:</b> As a California resident, you may be able to exercise the following rights (subject to certain limitations under law):</p>
                    <ul class="list-disc list-inside pl-5 list-subpoint">
                        <li>The Right to Know any or all of the following information relating to your personal information we have collected and disclosed in the last 12 months, upon verification of your identity:
                            <ul class="list-inside pl-5 list-subpoint pt-5">
                                <li>(i) the specific pieces of personal information we have collected about you;</li>
                                <li>(ii) the categories of personal information we have collected about you;</li>
                                <li>(iii) the categories of sources of the personal information;</li>
                                <li>(iv) the categories of personal information that we have disclosed to third parties for a business purpose, and the categories of recipients to whom this information was disclosed;</li>
                                <li>(v) the categories of personal information we have sold and the categories of third parties to whom the information was sold; and</li>
                                <li>(vi) the business or commercial purposes for collecting or selling the personal information.</li>
                            </ul>
                        </li>
                        <li>The Right to Request Deletion of personal information we have collected from you, subject to certain exceptions.</li>
                        <li>The Right to opt out of personal information sales to third parties now or in the future.</li>
                        <li>The right to be free of discrimination for exercising these rights.</li>
                    </ul>
                    <p class="pt-5">To Submit your California Consumer Rights Requests: You may submit a request to exercise your California Consumer Rights through one of the mechanisms described below. We will need to verify your identity before processing your request, which may require us to request additional personal information from you or require you to log into your account. In certain circumstances, we may decline or limit your request, particularly where we are unable to verify your identity or locate your information in our systems, or as permitted by law.</p>
                    <ul class="list-disc list-inside pl-5 list-subpoint">
                        <li>To exercise your Right to Know or your Right to Request Deletion: Submit a request by emailing privacy@gamersx.gg and including your account name and mobile telephone number as well as the consumer right you would like to exercise. We may need to contact you to request additional information to verify your request. We will process your request and send an email confirmation once your request has been fulfilled.</li>
                        <li>Authorized Agents. You may authorize another person (your “agent”) to submit a California consumer rights request on your behalf. Authorized agents must submit the request via email to privacy@gamersx.gg and include a signed letter from you confirming the agent has permission to submit the request on your behalf. In certain circumstances, we may need to request additional information to verify the identity of the user about whom the request is being made and/or to verify that the user has provided the authorized agent permission to submit the request, and it may take additional time to fulfil agent-submitted requests. Please note that for privacy and security reasons, we will direct future communications to the user on whose behalf the request was made. We may deny a request in the event we are not able to verify the authorized agent’s authority to act on your behalf.</li>
                    </ul>
                    <p class="pt-5"><b>Additional Opt-Out Choices:</b> Additionally, you may wish to opt out of the sale of your personal information (including Internet/network information, commercial information, and inferences) by third-party advertising networks, social media companies, and similar online advertising companies for targeted online advertising purposes. By visiting www.privacyrights.info or www.optout.privacyrights.info, you can opt out from sales of this type of personal information by businesses that participate in the opt out tool. To make opt-out requests related to mobile apps on your device for businesses participating in the DAA’s CCPA App-based Opt-Out Tool, you can download the appropriate app at www.youradchoices.com/appchoices.</p>
                    <p class="pt-5"><b>Minors:</b> We do not sell the personal information of California consumers we know to be less than 18 years of age. If you are under the age of 18 and you want to remove your name or comments from our website or publicly displayed content, please contact us directly at privacy@gamersx.gg. We may not be able to modify or delete your information in all circumstances.</p>
                    <p class="pt-5">California’s “Shine the Light” Law: California's "Shine the Light" law (Civil Code Section § 1798.83) provides certain rights to California residents that have an established business relationship with us about the disclosure of certain types of personal information to third parties for their direct marketing purposes. To opt-out of having your personal information disclosed to third parties for their direct marketing purposes, please click the “Do Not Sell My Personal Information” link.</p>
                </li>
                <li>
                    <span class="text-heading">CHANGES TO OUR PRIVACY POLICY</span>
                    <p class="pt-5">We may, in our sole discretion, modify or update this Privacy Policy from time to time, and so you should review this page periodically. When we change the policy, we will update the “last modified” date at the top of this page. If there are material changes to this Privacy Policy or in how the Service will use your personal information, we will notify you either by prominently posting a notice of such changes prior to implementing the change or by directly sending you a notification.</p>
                </li>
                <li>
                    <span class="text-heading">HOW TO CONTACT US</span>
                    <p class="pt-5">If you have any questions about this Privacy Policy or Our Sites, please contact us at privacy@gamersx.gg</p>
                </li>
            </ol>
            <a href="https://www.iubenda.com/privacy-policy/49149225" class="iubenda-nostyle iubenda-noiframe iubenda-embed iub-legal-only iubenda-noiframe iub-body-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
            <a href="https://www.iubenda.com/privacy-policy/49149225/cookie-policy" class="iubenda-nostyle iubenda-noiframe iubenda-embed iubenda-noiframe iub-body-embed" title="Cookie Policy">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
        </div>
    </div>
{% endblock %}