{
    "rows": [
        {
            "title": "Featured",
            "sort": "desc",
            "itemType": "streamer",
            "items": [
                {
                    "twitchId": "43201452"
                },
                {
                    "twitchId": "22510310"
                }
            ]
        },
        {
            "title": "Games",
            "itemType": "game",
            "sort": "desc",
            "linkType": "gamersx",
            "items": [
                {
                    "twitchId": "21779",
                    "showArt": false
                },
                {
                    "twitchId": "33214"
                },
                {
                    "twitchId": "516575"
                },
                {
                    "twitchId": "512710"
                },
                {
                    "twitchId": "509658"
                }
            ]
        },
        {
            "title": "Pros",
            "sort": "desc",
            "itemType": "streamer",
            "linkType": "gamersx",
            "items": [
                {
                    "twitchId": "44445592"
                },
                {
                    "twitchId": "105533253"
                },
                {
                    "twitchId": "160677372",
                    "showArt": false
                },
                {
                    "twitchId": "195450890"
                },
                {
                    "twitchId": "124420521"
                }
            ]
        }
    ]
}
