{
    "rows": [
        {
            "title": "Featured",
            "sort": "desc",
            "itemsType": "streamer",
            "items": [
                {
                    "id": "43201452"
                },
                {
                    "id": "22510310"
                }
            ]
        },
        {
            "title": "Games",
            "itemsType": "game",
            "sort": "desc",
            "linkType": "gamersx",
            "items": [
                {
                    "id": "21779",
                    "showArt": false
                },
                {
                    "id": "33214"
                },
                {
                    "id": "516575"
                },
                {
                    "id": "512710"
                },
                {
                    "id": "509658"
                }
            ]
        },
        {
            "title": "Pros",
            "sort": "desc",
            "itemsType": "streamer",
            "linkType": "gamersx",
            "items": [
                {
                    "id": "44445592"
                },
                {
                    "id": "105533253"
                },
                {
                    "id": "160677372",
                    "showArt": false
                },
                {
                    "id": "195450890"
                },
                {
                    "id": "124420521"
                }
            ]
        }
    ]
}
