{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_nav %}
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas"
           role="button" title="{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}">
            <span class="sr-only">{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}</span>
        </a>

        <div class="navbar-left">
            {% block sonata_breadcrumb %}
             {{ parent() }}
            {% endblock sonata_breadcrumb %}
        </div>

        {% block sonata_top_nav_menu %}
            {% if app.user %}
                <div class="navbar-custom-menu">

                    <ul class="nav navbar-nav">
                        {% block sonata_top_nav_menu_user_block %}
                            <li class="dropdown user-menu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Hello, {{ app.user.usernameCanonical }}<i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    {% include get_global_template('user_block') %}
                                </ul>
                            </li>
                        {% endblock %}
                        <li class=""><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        <li class=""><a href="#"><i class="fa fa-question" aria-hidden="true"></i></a></li>
                        <li class=""><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
                        {% block sonata_top_nav_menu_add_block %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Create
                                    <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                                {% include get_global_template('add_block') %}
                            </li>
                        {% endblock %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
    </nav>
{% endblock sonata_nav %}
