{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('game') }}
{% endblock %}

{% block body %}
<div class="container">
    <div id="app-game" >
        <game></game>
    </div>
</div>
{% endblock %}
