.actions--wrapper {
  height: 30px;
  width: 180px;
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  left: calc(100% - 180px);
  /*border: 3px solid #130E1C;*/
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid black;
  z-index: 30;
  background-color: #fff;
  /*clip-path: polygon(*/
  /*  15px 0px,*/
  /*  !* top left *! 100% 0px,*/
  /*  !* right top *! 100% 100%,*/
  /*  0% 100%,*/
  /*  !* bottom left *! 1px 39px*/
  /*);*/
}

/*.left--border {*/
/*  position: relative;*/
/*  top: 0;*/
/*  left: 9px;*/
/*  height: 26px;*/
/*  width: 3px;*/
/*  transform: rotateZ(200deg);*/
/*  background-color: #000;*/
/*  z-index: 30;*/
/*}*/

.actions--btn {
  /*max-width: 40px;*/
  /*max-height: 40px;*/
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 3px solid #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 4px;
}

/*.actions--wrapper .actions--btn:first-child {*/
/*  max-width: 60px;*/
/*}*/

.actions--wrapper .actions--btn:nth-child(2) {
  cursor: grab;
  user-select: none;
}

.actions--wrapper .actions--btn:nth-child(2):active {
  cursor: grabbing;
  user-select: none;
}

.actions--wrapper .actions--btn:last-child {
  border-right: none;
}

.actions--btn:hover {
  background-color: transparent;
  box-shadow: inset 1px 1px 5px rgba(86, 45, 114, 0.9);
}

.actions--btn svg:hover path {
  stroke: rgba(86, 45, 114, 0.9);
  fill: rgba(86, 45, 114, 0.9);
}

.actions--btn-active {
  background-color: #6643b5;
}

.actions--btn-active svg path {
  stroke: #fff;
  fill: #fff;
}

.actions--btn-icon path {
  fill: #000 !important; /* Змініть цей колір на бажаний */
}

/*.actions--wrapper .actions--btn:nth-child(1) svg {*/
/*  margin-left: 12px;*/
/*}*/

.actions--btn-move-disabled {
  cursor: no-drop !important;
  background-color: rgb(180 180 180) !important;
  user-select: none !important;
}

/* menu interaction */

/* Auto layout */
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: flex-start;*/
/*padding: 6px 6px 0px;*/
/*gap: 4px;*/

/* menu interaction */
