@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../fonts/fonts.css');
@import url('./text-stroke.css');

div.profile-pic {
  height: 332px;
  width: 332px;
}

div.box-art {
  height: 332px;
  width: 257px;
}

div.embed-frame {
  height: 300px;
  width: 540px;
}

div.custom-bg {
  background-size: cover;
  background-repeat: no-repeat;
}

div.full-screen-art {
  height: 70vh;
  width: 100%;
}

div.tall-art {
  height: 70vh;
  width: 600px;
  min-width: 600px;
}

div.big-number {
  font-size: 20rem;
  line-height: 1;
  position: relative;
  left: 2rem;
}
