@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../fonts/fonts.css');
@import url('./text-stroke.css');
@import url('./aspect-ratio.css');

html, body {
  height: 100%;
}

div.profile-pic {
  height: 332px;
  width: 332px;
}

div.box-art {
  height: 332px;
  width: 257px;
}

div.embed-frame {
  height: 300px;
  width: 540px;
}

div.custom-bg {
  background-size: cover;
  background-repeat: no-repeat;
}

div.full-screen-art {
  height: 70vh;
  width: 100%;
}

div.tall-art {
  height: 70vh;
  width: 600px;
  min-width: 600px;
}

div.big-number {
  font-size: 20rem;
  line-height: 1;
  position: relative;
  left: 2rem;
}
@variants hover {
.cut-edge__wrapper--twitch {
  filter: drop-shadow(0px 0px 10px rgba(100, 65, 165, 0.8));
}

.cut-edge__wrapper--youtube {
  filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.6));
}

.cut-edge__clipped {
  position: relative;
}

.cut-edge__clipped::after {
  content: '';
  position: absolute;
}

.cut-edge__clipped--sm-border {
  border: 1px solid;
}

.cut-edge__clipped--md-border {
  border: 2px solid;
}

.cut-edge__clipped--twitch {
  border-color: #6441A5;
}

.cut-edge__clipped--twitch::after {
  background-color: #6441A5;
}

.cut-edge__clipped--youtube {
  border-color: #FF0000;
}

.cut-edge__clipped--youtube::after {
  background-color: #FF0000;
}

.cut-edge__clipped-top-left-sm {
  clip-path: polygon( 15px 0, /* top left */ 100% 0, /* right top */ 100% 100%, 0 100%, /* bottom left */ 0 15px);
}

.cut-edge__clipped-top-left-sm::after {
  width: 22px;
  height: 1px;
  top: 6px;
  left: -4px;
  transform: rotateZ(135deg);
}

.cut-edge__clipped-bottom-left-md {
  clip-path: polygon( 0 0, /* top left */ 100% 0, /* right top */ 100% 100%, 11px 100%, /* bottom left */ 0 calc(100% - 11px));
}

.cut-edge__clipped-bottom-left-md::after {
  width: 16px;
  height: 2px;
  bottom: 2px;
  left: -3px;
  transform: rotate(45deg);
}

.cut-edge__clipped-top-left-md {
  clip-path: polygon( 25px 0, /* top left */ 100% 0, /* right top */ 100% 100%, 0 100%, /* bottom left */ 0 25px);
}

.cut-edge__clipped-top-left-md::after {
  width: 35px;
  height: 1px;
  top: 11px;
  left: -6px;
  transform: rotateZ(135deg);
}

.cut-edge__clipped-top-right-md {
  clip-path: polygon( 0 0, /* top left */ calc(100% - 34px) 0, /* right top */ 100% 34px, 100% 100%, 0 100% /* bottom left */);
}

.cut-edge__clipped-top-right-md::after {
  width: 48px;
  height: 2px;
  top: 15px;
  right: -9px;
  transform: rotate(45deg);
}

.cut-edge__clipped-top-left-xl {
  clip-path: polygon( 30px 0, /* top left */ 100% 0, /* right top */ 100% 100%, 0 100%, /* bottom left */ 0 30px);
}

.cut-edge__clipped-top-left-xl::after {
  width: 43px;
  height: 2px;
  top: 12px;
  left: -7px;
  transform: rotateZ(135deg);
}
}