<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to GamersX{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        <!-- Load the Twitch embed script -->
        <script src="https://embed.twitch.tv/embed/v1.js"></script>
        <script src="https://www.youtube.com/player_api"></script>
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-black text-twitch">
        {% block header %}
        <div class="w-full p-4">
            <div id="header" class="flex flex-row justify-between space-x-4 h-12 text-2xl" >
                <div>
                 <img src="/images/logo.png" class="h-14" />
                </div>
                <div><a href="{{ path('home') }}">Home</a></div>
                <div>Channels</div>
                <div>Gamers</div>
                <div>Store</div>
                <div class="flex-grow">
                    <input id="query" class="w-full rounded-sm pl-4" type="text" placeholder="search"></input>
                </div>
            </div>
        </div>
        <hr class="border-current pb-6" />
        {% endblock %}
        <div class="container w-full mx-auto px-6">
          {% block body %}{% endblock %}
        </div>

        <hr class="border-current pt-6">
        {% block footer %}

        <div class="w-full">
            <div id="footer" class="flex flex-row justify-center space-x-4 h-16 text-base" >
                <div>&copy; 2021 GamersX</div>
                <div class="underline"><a href="{{ path('terms') }}">Terms of Service</a></div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
