<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to GamersX{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container w-screen mx-auto px-6">
        {% block header %}
        <div class="container p-6">
            <div id="header" class="flex flex-row justify-center space-x-4 p-4 h-16 rounded-md bg-indigo-500" >
                <div>GamersX Logo</div>
                <div><a href="{{ path('home') }}">Home</a></div>
                <div>Channels</div>
                <div>Gamers</div>
                <div>Store</div>
                <div class="flex-grow max-w-xl">
                    <input id="query" class="w-full rounded-sm pl-4" type="text" placeholder="search"></input>
                </div>
                <div class="w-16 rounded-sm text-center bg-gray-600">
                    <button type="button" onclick="quickSearch()">search</button>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var quickSearch = function() {
                let query = document.getElementById('query').value;
                window.open('/api/query/' + query, '_query');
            }
        </script>
        {% endblock %}
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
