{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('streamer') }}
{% endblock %}

{% block body %}
<div class="container">
    <div id="app-streamer" data-info="{{ info | json_encode }}">
        <streamer></streamer>
    </div>
</div>
{% endblock %}
