{% extends 'base.html.twig' %}

{% block title %}
An Error Occurred: {{ status_text }}
{% endblock %}

{% block body %}
<div class="container w-full mx-auto px-6 space-y-6">
    <div class="text-4xl pt-6 text-red-600">Oops! An Error Occurred</div>
    {% block message %}
    <div class="text-xl" >The server returned a "{{ status_code }} {{ status_text }}".</div>
    {% endblock %}
    <div class="underline">
        <a href="{{ path('home') }}">
            Return Home
        </a>
    </div>
</div>
{% endblock %}
